body, html {
  height: 100%;
  width: 100%;
  margin: auto;
}

.parallax {
  background-image: url("images/sun.jpg");
  height: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7.5%;
}

.contact li {
  list-style-type: none;
  padding: 10px;
}

.contact li a img {
  width: 25px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 8em;
  margin-left: 90px;
}

h2 {
  font-family: 'Bellefair', serif;
  color: #ffffff;
  margin-top: -25px;
  margin-left: 310px;
  font-size: 2.5em;
}

#tagline {
  display: flex;
  justify-content: center;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  margin: 3%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

#intro {
  display: flex;
  align-items: center;
  padding: 3%;
  margin-top: 3%;
  border-top: 3px solid #FDDCA9;
  border-bottom: 3px solid #FDDCA9;
}

#intro p {
  width: 400px;
  color: #333333;
  text-align: center;
  margin: auto;
  font-size: 70%;
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

#location {
  /*background-color: #FDDCA9;*/
}

#location p {
  color: #333333;
  font-size: 50%;
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
}

#location p .bold {
  font-size: 150%;
  font-weight: bold:
}

#map {
  display: flex;
  justify-content: center;
}
