body, html {
  height: 100%;
  width: 100%;
  margin: auto;
}

.parallax {
  background-image: url("images/sun.jpg");
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 800%;
  margin-left: 5%;
}

h2 {
  font-family: 'Bellefair', serif;
  color: #ffffff;
  font-size: 150%;
}
