body, html {
  height: 100%;
  width: 100%;
  margin: auto;
}

.parallax {
  background-image: url("images/sun.jpg");
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 800%;
  margin-left: 5%;
}

h2 {
  font-family: 'Bellefair', serif;
  color: #ffffff;
  font-size: 200%;
  margin-top: -115px;
  margin-left: 300px;
}

h3 {
  font-family: 'Bellefair', serif;
  color: #ffffff;
  font-size: 250%;
  text-align: right;
  margin-right: 5%;
}

p {
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: 'Bellefair', serif;
  color: #333333;
  font-size: 80%;
  font-family: 'Arial', sans-serif;
  font-weight: lighter;
}
